.scrollable {
  height: 500px;
  border-color: transparent;
  margin-right: -15px;
  position: relative;
  padding-right: 15px;
}

.scrollable>div {
  min-height: 500px;
}

.scrollable>div:nth-of-type(even) {
  background-color: rgba(253, 248, 169, 0.7);
}

.scrollable>div:nth-of-type(odd) {
  background-color: rgba(235, 85, 227, 0.4);
}

.scrollable>div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.scrollable.section {
  overflow: auto;
}

.red-herring {
  overflow-x: hidden;
}

.navbar {
  margin-bottom: 50px;
  text-align: center;
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
  color: rgba(44, 83, 211, 0.5);
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
  color: rgba(1, 151, 126, 1);
}

.carousel-inner>.item>img {
  width: 640px;
  height: 360px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
